* {
  margin: 0;
  padding: 0;
  cursor: default;
  user-select: none;
  text-decoration: none;

  /* border: 1px solid red; */
}

html {
  height: 100%;
}

body {
  background: linear-gradient(#ebf4f8, white);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#search-container {
  height: 350px;
  margin-top: 1px;
  border-top: 5px double #acd7fb;
  border-bottom: 5px double #acd7fb;
}

h1 {
  width: 395px;
  margin: auto;
  margin-top: 77px;
  text-align: center;
  font-weight: 600;
  font-size: 38px;
  font-family: "Libre Baskerville", serif;
  color: #1746b1;
}

#search-bar-container {
  height: auto;
  width: 600px;
  margin: auto;
}

#search-bar {
  display: block;
  width: 496px;
  height: 37px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 25px;
  padding-left: 4px;
  padding-right: 29px;
  font-size: 16px;
  border: 1px solid lightGray;
  border-radius: 5px;
  cursor: text;
}

#search-icon {
  position: relative;
  top: -54px;
  left: 539px;
  cursor: pointer;
}

#button-container {
  width: 375px;
  height: auto;
  margin: auto;
  text-align: center;
}

#wiki-search-button {
  width: 135px;
  height: 20px;
  margin: auto;
  margin-top: -18px;
  padding-top: 6px;
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
  background: #f6f6f6;
  border: 1px solid lightGray;
  border-radius: 5px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#wiki-search-button:active {
  box-shadow: inset 0px 0px 5px #a3a9b2;
}

#wiki-random-button {
  display: inline-block;
  width: 135px;
  height: 20px;
  margin: auto;
  margin-top: 15px;
  padding-top: 6px;
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
  background: #f6f6f6;
  border: 1px solid lightGray;
  border-radius: 5px;
  cursor: pointer;
}

#wiki-random-button:active {
  box-shadow: inset 0px 0px 5px #a3a9b2 !important;
}

.button-link {
  color: black;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#results-container {
  display: none;
  height: auto;
  padding-top: 10px;
  text-align: center;
  border-bottom: 5px double #acd7fb;
}

.result-frame {
  display: inline-block;
  height: auto;
  width: 95%;
  margin: auto;
  margin-bottom: 10px;
  padding-bottom: 6px;
  text-align: left;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.result-frame-hovered {
  border-left: 8px solid #1746b1;
}

.result-frame:active {
  border-left: 8px solid #1746b1;
  box-shadow: inset -1px 0px 8px #72777d;
}

.result-title {
  width: 99%;
  margin: auto;
  margin-top: 6px;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  cursor: pointer;
}

.result-desc {
  width: 99%;
  margin: auto;
  margin-top: 6px;
  font-size: 16px;
  font-family: sans-serif;
  cursor: pointer;
}

.result-frame-link {
  color: black;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.result-none-frame {
  height: auto;
  width: 95%;
  margin: auto;
  margin-bottom: 10px;
  padding-bottom: 6px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: default;
}

.result-none-title {
  width: 99%;
  margin: auto;
  margin-top: 6px;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  cursor: default;
}


/* ----- FOOTER BEGINS BELOW ----- */

.footer {
  width: 85%;
  height: 115px;
  margin: auto;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.footer-icon {
  color: #1746b1;
  link-style: none;
  cursor: pointer;
}

.footer-icon-hovered {
  opacity: 0.75;
}

.footer-icon:active{
  opacity: 0.75;
}

.footer-text-top {
  margin: auto;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  font-size: 0.9em;
  color: #1746b1;
}

.footer-text-bottom {
  margin: auto;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  font-size: 0.9em;
  color: #1746b1;
}

.social-media-container {
  width: 50%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center;
}

/* ----- MEDIA QUERIES BEGIN BELOW ----- */

@media screen and (max-width: 600px) {
  #search-bar-container{
    width: 450px;
  }
  #search-bar{
    width: 90%;
  }
  #search-icon{
    left: 419px;
  }
}

@media screen and (max-width: 500px) {
  h1{
    width: 350px;
    font-size: 36px;
  }
  #search-bar-container{
    width: 420px;
  }
  #search-bar{
    width: 90%;
  }
  #search-icon{
    left: 390px;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 34px;
  }
  #search-bar-container{
    width: 370px;
  }
  #search-bar{
    width: 90%;
  }
  #search-icon{
    left: 343px;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 32px;
  }
  #search-bar-container{
    width: 350px;
  }
  #search-bar{
    width: 90%;
  }
  #search-icon{
    left: 325px;
  }
}

@media screen and (max-width: 375px) {
  h1 {
    width: 330px;
    font-size: 30px;
  }
  #search-bar-container{
    width: 330px;
  }
  #search-bar{
    width: 90%;
  }
  #search-icon{
    left: 307px;
  }
}
